<!-- Officer_form.html -->

{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The Watchtower | Register</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    {% tailwind_css %}
</head>

<body class="bg-gray-900">
    <div class="min-h-screen flex flex-col items-center justify-center py-8 sm:py-12 md:py-16 lg:py-24">
        <div class="bg-white p-8 rounded-lg shadow-md w-full sm:w-3/4 md:w-1/2 lg:w-2/5 xl:w-1/3">
            <h1 class="text-2xl font-semibold mb-6">Officer Registration Form</h1>
    
            <form method="post">
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                    <!-- First Name -->
                    <div>
                        <label for="first_name" class="block text-gray-700">First Name <span class="text-red-700">*</span></label>                       
                        <input type="text" id="first_name" name="first_name" placeholder="Enter your first name" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Middle Name -->
                    <div>
                        <label for="middle_name" class="block text-gray-700">Middle Name</label>
                        <input type="text" id="middle_name" name="middle_name" placeholder="Enter your middle name (if any)" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Last Name -->
                    <div>
                        <label for="last_name" class="block text-gray-700">Last Name <span class="text-red-700">*</span></label>
                        <input type="text" id="last_name" name="last_name" placeholder="Enter your last name" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Email -->
                    <div>
                        <label for="email" class="block text-gray-700">E-mail <span class="text-red-700">*</span></label>
                        <input type="email" id="email" name="email" placeholder="Enter your email" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Phone Number -->
                    <div>
                        <label for="contact" class="block text-gray-700">Phone Number <span class="text-red-700">*</span></label>
                        <input type="tel" id="contact" name="contact" placeholder="Enter your phone number" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Physical Address -->
                    <div>
                        <label for="address" class="block text-gray-700">Physical Address (GPS) <span class="text-red-700">*</span></label>
                        <input type="text" id="address" name="address" placeholder="Enter your address" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Current Rank -->
                    <div>
                        <label for="officer_rank" class="block text-gray-700">Current Rank <span class="text-red-700">*</span></label>
                        <input type="text" id="officer_rank" name="officer_rank" placeholder="Enter your current rank" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Current Station Posted -->
                    <div>
                        <label for="officer_current_station" class="block text-gray-700">Current Station Posted <span class="text-red-700">*</span></label>
                        <input type="text" id="officer_current_station" name="officer_current_station" placeholder="Enter current station posted" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Staff ID -->
                    <div>
                        <label for="officer_staff_ID" class="block text-gray-700">Staff ID <span class="text-red-700">*</span></label>
                        <input type="text" id="officer_staff_ID" name="officer_staff_ID" placeholder="Enter staff ID" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Qualification -->
                    <div>
                        <label for="officer_qualification" class="block text-gray-700">Qualification <span class="text-red-700">*</span></label>
                        <input type="text" id="officer_qualification" name="officer_qualification" placeholder="Enter your qualification" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Date of Birth -->
                    <div>
                        <label for="officer_dateofbirth" class="block text-gray-700">Date of Birth <span class="text-red-700">*</span></label>
                        <input type="text" id="datepicker" name="officer_dateofbirth" placeholder="Select date of birth" class="w-full rounded-md py-2 mt-1 focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Current District of Operations -->
                    <div>
                        <label for="officer_place_of_operations" class="block text-gray-700">Current District of Operations <span class="text-red-700">*</span></label>
                        <input type="text" id="officer_place_of_operations" name="officer_place_of_operations" placeholder="Enter current district of operations" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Current Department of Operations -->
                    <div>
                        <label for="officer_department_of_operations" class="block text-gray-700">Current Department of Operations <span class="text-red-700">*</span></label>
                        <input type="text" id="officer_department_of_operations" name="officer_department_of_operations" placeholder="Enter current department of operations" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Upload or Capture Photo -->
                    <div class="col-span-1">
                        <label for="image" class="block text-gray-700">Upload or Capture Photo</label>
                        <input type="file" id="officer_image" name="officer_image" accept="image/*" class="hidden">
                        <button id="uploadButton" type="button" class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2">Upload</button>
                        <button id="captureButton" type="button" class="bg-blue-500 text-white px-4 py-2 rounded-md">Capture</button>
                    </div>
    
                    <!-- Password -->
                    <div class="col-span-2">
                        <label for="password" class="block text-gray-700">Password <span class="text-red-700">*</span></label> 
                        <input type="password" id="password" name="password" placeholder="Enter a password" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Confirm Password -->
                    <div class="col-span-2">
                        <label for="password_two" class="block text-gray-700">Confirm Password</label>
                        <input type="password" id="password_two" name="password_two" placeholder="Confirm Password" class="w-full px-3 py-2 mt-1 rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500">
                    </div>
    
                    <!-- Submit Button -->
                    <div class="col-span-2">
                        <button type="submit" class="w-full px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>



<script src="/static/js/functionalities.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr('#datepicker', {
        dateFormat: 'Y-m-d', // Set your desired date format
        enableTime: false, // Disable time selection if not needed
        // You can customize further options as per your requirements
    });
</script>
<script src="/static/js/functionalities.js"></script>
</body>
</html>
